---
import Layout from "../layouts/Layout.astro";
import AboutUs from "../components/AboutUs.astro";
import Team from "../components/Team.astro";
import Home from "../components/Home.astro";
---

<Layout title="Mosaic Technology - Una consultora TI para innovar tu negocio">
  <Home />
  <main>
    <section>
      <h2 class="text-5xl text-blue-800 font-semibold text-center mt-12">
        Quienes somos
      </h2>
      <AboutUs />
    </section>
    <section>
      <h2 class="text-5xl text-blue-800 font-semibold text-center mt-12">
        Equipo de trabajo
      </h2>
      <Team />
    </section>
  </main>
</Layout>
