---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
---

<Layout title="Mosaic Technology - Una consultora TI para innovar tu negocio">
  <Header />
  <main>
    <h1>Hola mundo</h1>
  </main>
</Layout>
