---
import Home from "../components/Home.astro";
import Layout from "../layouts/Layout.astro";
import Services from "../components/Services.astro";
import AboutUs from "../components/AboutUs.astro";
import Footer from "../components/Footer.astro";
import Team from "../components/Team.astro";
---

<Layout title="Mosaic Technology - Una consultora TI para innovar tu negocio">
  <Home />
  <main>
    <h2 class="text-5xl text-blue-800 font-semibold text-center mt-12">
      Servicios
    </h2>
    <Services />
    <h2 class="text-5xl text-blue-800 font-semibold text-center mt-12">
      Quienes somos
    </h2>
    <AboutUs />
    <h2 class="text-5xl text-blue-800 font-semibold text-center mt-12">
      Equipo de trabajo
    </h2>
    <Team />
  </main>
  <Footer />
</Layout>
