---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Mosaic Technology - Una consultora TI para innovar tu negocio">
  <main>
    <h1>Hola mundo</h1>
  </main>
</Layout>
