<div class="container mx-auto mt-10 px-36 grid grid-cols-2 gap-4">
  <div class="col-start-1 col-end-3">
    <p class="text-xl">
      Mosaic Technology es una empresa enfocada en la asesoría de micro y
      pequeñas empresas para procesos de innovación tecnológica, brindando una
      diversidad de servicios tecnológicos, que serán clave para que nuestros
      clientes alcancen un mayor nivel de productividad en sus operaciones,
      logrando así posicionarse en el mercado.
    </p>
    <button class="mt-10 px-4 py-2 bg-blue-600 rounded-md text-white text-lg">
      Saber mas...
    </button>
  </div>
  <div class="col-start-3 col-end-4">
    <img
      src="/images/team.jpg"
      alt="images team"
      class="rounded-lg object-cover w-96"
    />
  </div>
</div>
