---

---

<header class="bg-[url('/images/header_background.jpg')] h-screen">
  <img
    class="w-32"
    src="/images/logo_mosaic.png"
    alt="mosaic technoglogy mosaic-technology"
  />

  <nav>
    <a href="#">Inicio</a>
    <a href="#">Servicios</a>
    <a href="#">Quienes somos</a>
    <a href="#">Contactanos</a>
  </nav>

  <div></div>
</header>
