---
import Social from "./Social.astro";
import MenuIcon from "./icons/MenuIcon.astro";
---

<header class="flex justify-between px-16 items-center">
  <img
    class="w-28 h-24 lg:w-36 lg:h-32 object-cover"
    src="/images/logo_mosaic.png"
    alt="mosaic technoglogy mosaic-technology"
  />

  <nav class="hidden lg:flex gap-12 text-lg font-medium text-white">
    <a href="#" class="hover:text-yellow-300">Inicio</a>
    <a href="#" class="hover:text-yellow-300">Servicios</a>
    <a href="#" class="hover:text-yellow-300">Quienes somos</a>
    <a href="#" class="hover:text-yellow-300">Contactanos</a>
  </nav>

  <Social class="hidden lg:flex gap-6" />

  <MenuIcon class="block lg:hidden text-white size-8" />
</header>
