---
import FacebookIcon from "./icons/FacebookIcon.astro";
import TiktokIcon from "./icons/TiktokIcon.astro";
---

<header class="flex justify-between px-16 items-center">
  <img
    class="w-36 h-32 object-cover"
    src="/images/logo_mosaic.png"
    alt="mosaic technoglogy mosaic-technology"
  />

  <nav class="flex gap-12 text-lg font-medium text-white">
    <a href="#">Inicio</a>
    <a href="#">Servicios</a>
    <a href="#">Quienes somos</a>
    <a href="#">Contactanos</a>
  </nav>

  <div class="flex gap-6">
    <a href="https://Facebook.com" aria-label="Facebook">
      <FacebookIcon class="text-white w-10 h-10" />
    </a>
    <a href="https://www.tiktok.com/" aria-label="Tiktok">
      <TiktokIcon class="text-white w-10 h-10" />
    </a>
  </div>
</header>
