---
import Header from "./Header.astro";
import BtnInformacion from "./BtnInformacion.astro";
import Social from "./Social.astro";
---

<div
  class="bg-[url('/images/header_background.jpg')] h-screen bg-cover bg-center"
>
  <Header />
  <div class="flex items-center justify-center mt-36">
    <div class="h-2/4 w-3/4">
      <h1 class="text-5xl text-white lg:text-6xl">
        Saca el máximo provecho a la <span class="text-blue-500 font-bold"
          >tecnología</span
        >
        y haz <span class="text-blue-500 font-bold">crecer tu negocio</span>
      </h1>
      <div class="flex item-center gap-12">
        <BtnInformacion />
        <Social class="flex lg:hidden mt-8" />
      </div>
    </div>
  </div>
</div>
