---
import Header from "./Header.astro";
import BtnInformacion from "./BtnInformacion.astro";
---

<div class="bg-[url('/images/header_background.jpg')] h-screen">
  <Header />
  <div class="flex items-center justify-center mt-36">
    <div class="h-2/4 w-3/4">
      <h1 class="text-6xl text-white">
        Saca el máximo provecho a la <span class="text-blue-800 font-bold"
          >tecnología</span
        >
        y haz <span class="text-blue-800 font-bold">crecer tu negocio</span>
      </h1>
      <BtnInformacion />
    </div>
  </div>
</div>
