---
const SERVICES = [
  {
    title: "Desarrollo de software",
    description:
      "Desarrollo de software a medida para las diferentes plataformas: web, móvil y desktop.",
    img: "/images/software_services.jpg",
  },
  {
    title: "Infraestructura TI",
    description:
      "Diseño e implementación de infraestructura tecnológica: redes, servidores y cloud computing.",
    img: "/images/infraestructure_services.jpg",
  },
  {
    title: "Asesoria TI",
    description:
      "Servicios de asesoría donde buscamos guiarte en la búsqueda e implementación de lo que realmente necesitas tú y tu negocio.",
    img: "/images/Asesoria_services.jpg",
  },
];
---

<div class="flex items-center justify-center mt-12 gap-24">
  {
    SERVICES.map(({ title, description, img }) => (
      <article class="w-80 flex justify-center items-center">
        <div class="w-full h-full flex flex-col justify-center items-center gap-2">
          <img
            src={img}
            alt={`Servicio de ${img}`}
            class=" rounded-full size-52"
          />
          <h3 class=" font-semibold text-2xl text-blue-800">{title}</h3>
          <p class="text-lg font-normal">{description}</p>
        </div>
      </article>
    ))
  }
</div>
