---
import FacebookIcon from "./icons/FacebookIcon.astro";
import TiktokIcon from "./icons/TiktokIcon.astro";

const { class: clases } = Astro.props;
---

<div class=`${clases}`>
  <a
    href="https://www.facebook.com/profile.php?id=61556945247013"
    aria-label="Facebook"
  >
    <FacebookIcon class="text-white w-10 h-10 hover:text-blue-600" />
  </a>
  <a href="https://www.tiktok.com/@mosaictechnology" aria-label="Tiktok">
    <TiktokIcon class="text-white w-10 h-10 hover:text-red-500" />
  </a>
</div>
