---
import Social from "./Social.astro";
import MenuIcon from "../icons/MenuIcon.astro";
---

<header class="flex justify-between px-4 sm:px-16 items-center">
  <img
    class="w-28 h-24 lg:w-36 lg:h-32 object-cover"
    src="/images/logo_mosaic.png"
    alt="mosaic technoglogy mosaic-technology"
  />

  <nav
    id="navbar"
    class="fixed top-0 right-0 w-64 h-full transform translate-x-full transition-transform duration-300 lg:translate-x-0 lg:block lg:relative lg:w-auto lg:h-auto lg:transform-none text-lg font-medium text-white bg-white lg:bg-inherit z-50"
  >
    <ul
      class="flex flex-col gap-8 lg:gap-12 lg:flex-row h-screen lg:h-0 bg-gray-900 lg:bg-inherit lg:text-white px-4 py-4"
    >
      <MenuIcon
        id="menuIconClose"
        class="block lg:hidden size-8 hover:cursor-pointer hover:text-blue-600"
      />
      <a
        href="#"
        class="hover:text-blue-600 hover:bg-blue-gray-100/10 rounded-lg py-2 px-1 lg:bg-inherit lg:rounded-none lg:py-0 lg:px-0"
        >Inicio</a
      >
      <a
        href="#soluciones"
        class="hover:text-blue-600 hover:bg-blue-gray-100/10 rounded-lg py-2 px-1 lg:bg-inherit lg:rounded-none lg:py-0 lg:px-0"
        >Soluciones</a
      >
      <a
        href="/About"
        class="hover:text-blue-600 hover:bg-blue-gray-100/10 rounded-lg py-2 px-1 lg:bg-inherit lg:rounded-none lg:py-0 lg:px-0"
        >Quienes somos</a
      >
      <a
        href="#"
        class="hover:text-blue-600 hover:bg-blue-gray-100/10 rounded-lg py-2 px-1 lg:bg-inherit lg:rounded-none lg:py-0 lg:px-0"
        >Contactanos</a
      >
    </ul>
  </nav>

  <Social class="hidden lg:flex gap-6" />

  <MenuIcon
    id="menuIconOpen"
    class="block lg:hidden text-white size-8 hover:cursor-pointer hover:text-blue-600"
  />
</header>

<script>
  const menuIconOpen = document.querySelector("#menuIconOpen");
  const menuIconClose = document.querySelector("#menuIconClose");
  const menu = document.querySelector("#navbar");

  document.addEventListener("DOMContentLoaded", () => {
    menuIconOpen?.addEventListener("click", openMenu);
    menuIconClose?.addEventListener("click", closeMenu);
  });

  const openMenu = () => {
    menu?.classList.remove("translate-x-full");
    menu?.classList.add("translate-x-0");
    menuIconOpen?.classList.add("hidden");
  };

  const closeMenu = () => {
    menu?.classList.add("translate-x-full");
    menu?.classList.remove("translate-x-0");
    menuIconOpen?.classList.remove("hidden");
  };
</script>
