---
import FacebookIcon from "../icons/Social/FacebookIcon.astro";
import TiktokIcon from "../icons/Social/TiktokIcon.astro";

const { class: clases } = Astro.props;
---

<div class=`${clases}`>
  <a href="#" aria-label="Facebook" target="_blank" rel="noopener noreferrer">
    <FacebookIcon class="w-10 h-10" />
  </a>
  <a
    href="https://www.tiktok.com/@mosaictechnology"
    aria-label="Tiktok"
    target="_blank"
    rel="noopener noreferrer"
  >
    <TiktokIcon class="w-10 h-10" />
  </a>
</div>
